/* Navigation Bar */
.bg-myblack {
  background-color: #19110B;
}

.links {
  text-decoration: none;
  color: #A8A4A6;
  font-size: 30px;
  font-weight: bold;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.links:hover {
  box-shadow: inset 155px 0 0 0 #A8A4A6;
  color: #19110B;
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  padding: 30px;
}

.heroHeader {
  width: 100%;
  padding-top: 20px;
  padding-left: 15px;
  color: #541824;
  font-size: 80px;
  font-style: oblique;
  text-shadow: 2px 2px black;
  text-align: center;
}

.heroPic {
  padding: 20px 10px 10px 20px;
  width: 40%;
  border-radius: 40%;
}

/* About Me */
.myRedHeader {
  color: #541824;
  font-size: 80px;
  font-style: oblique;
  text-shadow: 2px 2px black;
}

.myRed {
  color: #541824;
  font-size: 20px;
  font-style: oblique;
  width: 100%;
  padding: 15px 25px 10px;

}

.profilePic {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 40%
}

/* Projects */
.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.grid>div {
  flex-basis: calc(33.33% - 40px);
}

.box {
  background-color: #9B6A45;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  height: 35%;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding-left: 10px;
  text-align: center;
}

.image-size {
  margin: 15px;
  height: 15rem;
  width: 15rem;
}

/* Resume */

.myResume {
  text-decoration: none;
}

.resumePic {
  padding: 20px 10px 10px 20px;
  width: 40%;
  border-radius: 40%;
  height: 600px;
}

/* Contact */

.contact-form {}

.contact-headers {
  text-align: center;
  color: #541824;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}

.form-handler {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;

}

.contact-input {
  display: flex;
  align-content: center;
  width: 80%;
  height: 30%;
  justify-self: space-around;
  margin-left: 10%;
}

.button {
  color: #A8A4A6;
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
}

/* Footer */
footer.bg-myBlack {
  background-color: #19110B;
}